@model IEnumerable<TipoCuenta>

@{
    ViewData["Title"] = "Tipos cuentas";
}

<h1>Tipos de Cuentas</h1>
<h5>El tipo de cuenta se refiere a como podemos agrupar cuentas.
    Ejemplo: Prestamos, Tarjetas de crediot, etc
</h5>

<a asp-action="Crear" asp-controller="TiposCuenta" class="btn btn-primary mb-3">Crear Nuevo</a>

<table class="table">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tipoCuenta in Model)
        {
            <tr>
                <td>
                    <a asp-action="Editar" asp-route-id="@tipoCuenta.Id" class="btn btn-primary">Editar</a>
                    <a asp-action="Borrar" asp-route-id="@tipoCuenta.Id" class="btn btn-danger">Borrar</a>
                </td>
                <td>
                    @tipoCuenta.Nombre
                </td>
            </tr>
        }
    </tbody>
</table>